@import "./base";

.header {
    height: $header-height;
    border-bottom: 2px solid #ddd;
}

/* SEARCH */

 
.header__with-search {
    display: flex;
    padding: 12px 36px;
    justify-content: space-between;
    align-items: center;
    height: $header-search-height;
    .header__search-logo {
        width: 100px;
        margin-top: 6px;
    }
    .header__search-img {
        width: 80px;
    }
    .header__search {
        display: flex;
        flex: 1;
        border: 2px solid #000;
        border-radius: 30px;
        height:100%;
        &-input {
            flex: 1;
            padding: 0px 32px;
            border: none;
            border-radius: 30px;
            font-size: 1.6rem;
            font-weight: 400;
            outline: none;
        }
        &-btn {
            border-color: transparent;
            border-radius: 30px;
            padding: 12px 20px;
            cursor: pointer;
            &-icon {
                font-size: 1.8rem;
                opacity: 0.5;
                color: $black-color;
            }
        }
        &-btn:hover {
            background-color: rgb(223, 223, 223);
        }
        
    }
    .btn {
        border-color: transparent;
        color: $black-color;
        font-size: 1.4rem;
        padding: 12px 24px;
        margin: 4px 8px;
        cursor: pointer;
        &-link {
            text-decoration: none;
            color: $black-color;
        }
    }
    .header__search-cart {
        &-icon {
            cursor: pointer;
            padding: 6px 12px 6px 12px;
            font-size: 1.8rem;
            color: $black-color;
        }
    }
}



/* NAVBAR */

.header__navbar {
    padding: 0 12px;
    height: $header-navbar-height;
    &-list {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        position: relative;
    }
    
    &-item {
        font-size: 1.3rem;
        line-height: 2rem;
        padding: 4px 10px 8px;
        font-weight: 400;
        border-bottom: 2px solid transparent;
        
    }
    & .line {
        position: absolute;
        bottom: 0;
        border-radius: 2px;
        background-color: #000;
        transform: scaleX(0);
        transition-property: width, left, transform;
        transition-timing-function: ease;
        transition-duration:  0.3s;
        transition-delay: 0.3s;
        will-change: transform;
    }
}

// Navbars list product
.header__product-name {
    background-color: $white-color;
    position: relative;
    .header__product-list {
        background-color: $white-color;
        z-index: 3;
        padding: 12px;
        box-shadow: 0 4px 14px rgba( 0, 0, 0, 0.2);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        position: absolute;
        top: 0;
        width: 100%;
        visibility: hidden;
        transition-delay: 0.3s;
        opacity: 0;
        // animation: op 5s linear 0.3s;
        transition: all 0.3s linear;
        &.active {
            visibility: visible;
            opacity: 1;
        }
        .header__product-item {
            padding: 0px;
            list-style: none;
            text-decoration: none;
            margin: 0;
            border-right: 1px solid rgba(0, 0, 0, 0.15);
            &-textAll {     
                @include fontText(1.3rem, 500, 2.8rem);
                padding: 6px 0px 6px 16px;
                cursor: pointer;
                .textAll-icon {
                    padding: 0 8px;
                    transition: transform 0.3s ease-in; 
                    &.active {
                        transform: translateX(5px)
                    }
                }
            }
            &-text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 24px;
                cursor: pointer;
                @include fontText(1.2rem, 390, 4rem);
        
                &:hover {
                    background-color: rgba(0, 0, 0, 0.15)
                }
                i {
                    padding-right: 12px;
                    
                }
            }
            & > li.active {
                opacity: 1;
            }
        }
        .header__product-pane {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
            &-text {
                padding-left: 16px;
                margin: 0;
                cursor: pointer;
                @include fontText(1.2rem, 390, 4rem);
                &:hover {
                    text-decoration: underline;
                }
            }
            &-textBold {
                padding-left: 16px;
                cursor: pointer;
                @include fontText(1.5rem, 500, 4rem);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .header__product-itemMin {
            padding: 0px;
            // visibility: hidden;
            opacity: 0;
            display: none;
            &.active {
                display: block;
                opacity: 1;
            }
        }
    }
}


